.supportChatContainer h4 {
  font-size: 1.5rem;
}
.supportChatContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(179, 180, 178);
  /* background: linear-gradient(
    90deg, rgb(228 248 255) 0%, rgb(142 218 247) 100%); */
    background-image: url("../assets/12.jpg");
    background-size: cover;
    background-position: 100% 5%;
}
.sendContainerChat {
  width: 40%;
  min-height: 90%;
  display: flex;
  backdrop-filter: blur(14.5px);  flex-direction: column;
  justify-content: center;
}
.sendContainerChat > * {
  padding: 1rem;
  width: 100%;
  margin: 0.3rem 0;
  border-radius: 1rem;
  height: 29vh !important;
}
.chatBoxHandler {
  display: flex;
  flex-direction: column-reverse;
  width: 40%;
  height: 90vh;
  margin: 0 1rem;
  order: 0;
  justify-content: space-between;
  border-radius: 2rem;
  align-items: center;
  backdrop-filter: blur(14.5px);
  background-color: rgb(255 255 255 / 31%);
  box-shadow: 0.5px 0.5px 9px #00000026;}

/*Clientes que pidieron ayuda*/
.peopleToHelpContainer {
  order: 1;
  padding: 2rem;
  backdrop-filter: blur(14.5px);
  background-color: rgba(255, 255, 255, 0.918);
  box-shadow: 0.5px 0.5px 9px #00000026;}
/* 8f3900 */
.handleWhoToHelpContainer {
  color: white;
  order: 2;
  background-color: rgb(255 255 255 / 19%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*A quien estoy ayudando*/
.whoImHelpingContainer:first-child {
  order: 3;
  height: 29vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow-x: hidden;
  box-shadow: 0.5px 0.5px 9px #00000026;}
.whoImHelpingContainer {
  order: 3;
  backdrop-filter: blur(14.5px);
  background-color: rgba(255, 255, 255, 0.801);
  box-shadow: 0.5px 0.5px 9px #00000026;}

.supportChatContainer h4 {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #0000007d;
}
.chat {
  display: flex;
  height: 60vh;
  flex-direction: column;
}
.chatBox {
  text-align: center;
  width: 40rem !important;
  height: 22.2rem;
  overflow-x: hidden;
  border: 1px solid #5c57902b;
}
.chatBox h2 {
  box-shadow: 0.5px 0.5px 9px #00000026;
  padding: 1rem;
}
.chatBox p {
  text-align: start;
  background-color: rgb(255 255 255 / 93%);
  padding: 1rem;
  margin: 2rem;
  width: 90%;
  color: #545454;
  overflow-x: auto;
  word-break: break-all;
  box-shadow: 0.5px 0.5px 4px #00000082;
}

.inputToSend {
  width: 93%;
  display: flex;
  justify-content: space-around;
}
.inputToSend input,
.handleWhoToHelpContainer input {
  width: 90% !important;
  padding: 1.1rem;
  border: none;
  outline: none;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.inputToSend button,
.handleWhoToHelpContainer button {
  border: none;
  background-color: transparent;
  color: rgb(66, 65, 65);
  padding-left: 0.5rem;
  cursor: pointer !important;
}

.handleWhoToHelpContainer input {
  padding: 0.5rem;
  border-radius: 0;
}
.inputToSend button:hover,
.handleWhoToHelpContainer button:hover {
  font-size: 1rem;
  transition: 0.2s;
}

.whoImHelpingContainer> .userOnLine{
  backdrop-filter: blur(14.5px);
  background-color: rgba(0, 0, 0, 0.692);
  height: 5rem;
  border-radius: .5rem;
  text-align: center;
  margin: 1rem;
  width: 15rem;
  padding: .5rem;
}