.propertyMain {
    background: #EAD7DB;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10%;
}

.propertyMain .propertyErrorConnection,
.propertyMain .propertyLoading {
    color: #2B302A;
    font-size: 1.5rem;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.propertyMain .houseStyleH1{
    color: #2B302A;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0px;
}

.propertyMain .carrouselSection {
    width: 100%;
    margin: 10px 0px;
}

.propertyMain .dataSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
    height: 200px;
    background: #D2A19C;
}

.propertyMain .videoSection {
    width: 100%;
    margin: 10px 0px 20px 0px;
}

.propertyMain .videoSection .videoArticle,
.propertyMain .carrouselSection article {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.propertyMain .videoSection .videoArticle iframe, 
.propertyMain .carrouselSection article .swiperBox {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media only screen and (min-width: 425px) {
    .propertyMain .houseStyleH1 {
        font-size: 1.2rem;
    }    
}

@media only screen and (min-width: 576px) {
    .propertyMain {
        padding: 0px 15%;
    }

    .propertyMain .houseStyleH1 {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 768px) {
    .propertyMain {
        padding: 0px 5%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .propertyMain .houseStyleH1 {
        font-size: 1.5rem;
    }

    .propertyMain .carrouselSection {
        width: 60%;
    }

    .propertyMain .dataSection {
        width: 35%;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 991px) {
}

@media only screen and (min-width: 1024px) {
    .propertyMain .houseStyleH1 {
        font-size: 2.5rem;
    }    
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 2560px) {
}

/* 
#2B302A
#EAD7DB
#493737
#986F6D
#D2A19C
*/