html {
  font-size: 1vw; /* 1rem = 1vw */
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 30%;
  height: 10vh;
}
.navbar-collapse {
  margin-top: 15vh;
}
.containerHome {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5vh;
}

.containerHero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.nav {
  width: 18vw;
  height: 16vh;
}
h1 {
  text-shadow: 1px 1px 7px black;
  margin-left: 15px;
  color: white;
}
.navbar .navbar-nav {
  flex-direction: column !important;
}

.logoUser img {
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.navbar-nav {
  background-color: rgb(255, 255, 255);
  padding: 0vh 5vw;
  margin-left: -57px;
  border-radius: 10px;
  margin-top: -57px;
}

.logoUser {
  outline: none;
  border: none;
  background-color: inherit;
}

.header {
  align-items: center;
}

.homeFilter {
  /* background-color: blue; */
  width: 95%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeFilter > * {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.firstRow {
  width: 100%;
}

.firstRow ul {
  list-style-type: none;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstRow li {
  background-color: black;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  position: relative;
}

li.active {
  background-color: white;
  color: black;
}

li.active::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 26px;
  left: calc((100% / 2) - 10px);
}

.secondRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.secondRow div {
  width: 100%;
  display: flex;
}

.secondRow select {
  background-color: transparent;
  border: none;
  flex: 1;
  height: 2.5rem;
}

.secondRow select:focus {
  border: 1px solid transparent;
}

.boxes {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding-left: 2rem;
}

.boxes input {
  margin-right: 0.3rem;
}

.homeFilterButton {
  width: 100%;
}

.homeFilterButton button {
  width: 90%;
  height: 2.5rem;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 0.2rem;
  border: none;
  border-radius: 5px;
}

.navBar{
  color: white;
  background-color: #493737;
  display: flex;
  flex-direction: column;
  padding: 7vw;
}

div.liks a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

div.copyright{
  color: white;
  width: 100%;
  padding:4vw;
  background-color: black;
  text-align: center;
}

img.rrssImg{
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-position: center;
  margin-right: 0.5rem;
}

.contact{
  display: flex;
}
section{
  gap: 0.5rem;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 425px) {
  .navbar-nav {
    background-color: rgb(255, 255, 255);
    padding: 0vh 5vw;
    border-radius: 10px;
    margin-top: -13vh;
  }
}
@media only screen and (min-width: 576px) {
  .logoUser img {
    margin-left: 9px;
  }
}
@media only screen and (min-width: 768px) {
  .logoUser img {
    margin-left: 37px;
  }
}
@media only screen and (min-width: 991px) {
  .logoUser img {
    margin-left: 55px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-nav {
    background-color: rgb(255, 255, 255);
    padding: 0vh 5vw;
    border-radius: 10px;

    margin-left: -61px;
  }
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 2560px) {
}
