html {
  font-size: 4vw;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.containerHome {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  align-items: center;
}

header h1 {
  text-shadow: 1px 1px 7px black;
  color: white;
  margin-bottom: 1.5rem;
}

.navbar {
  width: 30%;
  height: 10vh;
}

.navbar-collapse {
  margin-top: 15vh;
}

.containerHome .containerHero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  width: 18vw;
  height: 16vh;
}
.navbar .navbar-nav {
  flex-direction: column !important;
}

.logoUser img {
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.navbar-nav {
  background-color: rgb(255, 255, 255);
  padding: 0vh 5vw;
  margin-left: -57px;
  border-radius: 10px;
  margin-top: -57px;
}

.logoUser {
  outline: none;
  border: none;
  background-color: inherit;
}

/* FILTER DE HOME */
.containerHome .homeFilter {
  width: 95%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerHome .homeFilter > * {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.containerHome .homeFilter .firstRow {
  width: 100%;
}

.containerHome .homeFilter .firstRow ul {
  list-style-type: none;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerHome .homeFilter .firstRow li {
  background-color: black;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  position: relative;
}

.containerHome .homeFilter .firstRow li.active {
  background-color: white;
  color: black;
}

.containerHome .homeFilter .firstRow li.active::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-top: 0.7rem solid #fff;
  position: absolute;
  top: 2rem;
  left: calc((100% / 2) - 0.7rem);
}

.containerHome .homeFilter .secondRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
}

.containerHome .homeFilter .secondRow div {
  width: 100%;
  display: flex;
}

.containerHome .homeFilter .secondRow select {
  background-color: transparent;
  border: none;
  flex: 1;
  height: 2.5rem;
}

.containerHome .homeFilter .secondRow select:focus {
  border: 1px solid transparent;
}

.containerHome .homeFilter .boxes {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding-left: 2rem;
}

.containerHome .homeFilter .boxes input {
  margin-right: 0.3rem;
}

.containerHome .homeFilter .homeFilterButton {
  width: 100%;
}

.containerHome .homeFilter .homeFilterButton button {
  width: 90%;
  height: 2.5rem;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.3rem;
}


/*  FOOTER  */
footer {
  height: 10rem;
  color: white;
  background-color: #493737;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .contact {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  padding: 0.3rem 0;
}

footer .contact>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .contactInfo>div{
  display: flex;
  width: 80%;
}

footer .contact .contactInfo div p{
  margin-left: 0.3rem;
}

img.rrssImg{
  width: 1.5rem;
  height: 1.7rem;

}

footer .copyright{
  color: white;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 425px) {
  .navbar-nav {
    background-color: rgb(255, 255, 255);
    padding: 0vh 5vw;
    border-radius: 10px;
    margin-top: -13vh;
  }
}
@media only screen and (min-width: 576px) {
  .logoUser img {
    margin-left: 9px;
  }
}
@media only screen and (min-width: 768px) {
  .logoUser img {
    margin-left: 37px;
  }
}
@media only screen and (min-width: 991px) {
  .logoUser img {
    margin-left: 55px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-nav {
    background-color: rgb(255, 255, 255);
    padding: 0vh 5vw;
    border-radius: 10px;

    margin-left: -61px;
  }
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 2560px) {
}
